.box {
    background: var(--box-bg); 
    border-radius: 5px;
    padding: 10px; 
    border: 1px solid var(--box-border-color);
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}