/*-- scss:defaults --*/
// Base document fonts
$font-family-sans-serif: 'Roboto', 'Open Sans', 'Noto Sans', 'Helvetica Neue', 'Arial', !default; //system-ui,
$font-family-monospace: 'Roboto Mono', monospace, !default;
// $headings-font-family: 'Roboto Slab', 'Roboto Serif', 'Source Serif Pro', 'IBM Plex Serif', 'Montserrat', 'Noto Serif', !default;
$headings-font-weight: 800 !default;