/*-- scss:defaults --*/
// Fonts
@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Open+Sans:wght@200..900&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@200..900&display=swap';


$font-family-sans-serif: 'Atkinson Hyperlegible', 'Open Sans', 'Roboto', !default;
$headings-font-family: 'Open Sans','Atkinson Hyperlegible', 'Roboto', !default;
$headings-font-weight: 700, !default;

/*-- scss:rules --*/
body {
    font-family: $font-family-sans-serif;
    font-weight: 500;
}