/*-- scss:defaults --*/

// Navbar
$navbar-color: #f5e0dc !default;
$navbar-padding-y: 1.5rem !default;

// Link colors
$link-color: #00328aff !default;
$hover-color: #c73d3dff !default;
$post-cat-color: #181825 !default;
$post-cat-bg-color: #cdd6f4 !default;








/*-- scss:rules: --*/

// Sidebar search shortcut
.aa-Autocomplete .aa-Form .aa-InputWrapperPrefix .aa-SubmitButton::after {
  content: " [s|?]";
  color: #343a40 !important;
}

// Set TOC active left border thicker
.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
    border-left: 5px solid $link-color !important;
    color: $link-color !important;
}

a {
  color: $link-color;
  text-decoration: none !important;
}

a:hover {
  color: $hover-color !important;
}

.sidebar nav[role=doc-toc] ul:hover a:hover {
    color: $hover-color !important;
}
